/mymodules/dist/vsearch-1.0.tar.gz
/mymodules/vsearch.egg-info/dependency_links.txt
/mymodules/vsearch.egg-info/PKG-INFO
/mymodules/vsearch.egg-info/SOURCES.txt
/mymodules/vsearch.egg-info/top_level.txt
